<div id="main">
  <h2>ホーム</h2>
  <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
  <% end %>
  <% if user_signed_in? %>
    <% @posts.each do |post| %>
      <div class="post">
        <div class="post_header">
          <p class="user_image"><%= image_tag post.user.image.url %></p>
          <p class="user_name"><%= post.user.name %></p>
          <p class="time_stamp"><%= l post.created_at %></p>
        </div>
        <div class="post_habit">
          <p><%= image_tag "header_image/habit" %></p>
          <p class="habit_name"><%= post.habit.content %></p>
        </div>
        <div class="post_content"><%= simple_format(post.content) %></div>
        <% if post.image? %>
          <p class="post_image"><%= image_tag post.image.url %></p>
        <% end %>
      </div>
    <% end %>

  <% else %>
    <div>
  	  <p>現在ログインしていません</p>
  	  <%= link_to "ログイン", new_user_session_path %>
  	  <%= link_to "新規登録", new_user_registration_path %>
    </div>
  <% end %>
</div>

<div id="sidebar">
  <%= render "shared/sidebar" %>
</div>
