<h1>NEW HABITS!</h1>
<p>新しい習慣を身に着けよう</p>

<div>
	<% if user_signed_in? %>
		<h2>メールアドレス：<%= current_user.email %></h2>
		<h4>名前：<%= current_user.name %></h4>
		<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>

	<% else %>
		<h3>現在ログインしていません</h3>
		<%= link_to "ログイン", new_user_session_path %>
		<%= link_to "新規登録", new_user_registration_path %>

	<% end %>
</div>
