<div class="app_title">
	<h1>New Habits</h1>
	<p class="sub_title">新しい習慣を始めよう</p>

	<p>既にアカウントをお持ちの方</p>
	<div class="signin_link"><%= link_to "ログイン", new_user_session_path %></div>
	<p>初めての方</p>
	<div class="signup_link"><%= link_to "新規登録", new_user_registration_path %></div>
</div>

<div class="app_outline">
	<h2>New Habitsとは</h2>
  <p>同じ目標を持った仲間と繋がり、日々の成果を共有することで、新しい習慣の定着を助けるSNSアプリです</p>
</div>

<div class="how_to_use_app">
	<h3>使い方</h3>
	<div class="habit_registration">
	  <%= image_tag "lp_image/habit_registration", class: "habit_registration_image" %>
	  <div>
		  <p class="habit_registration_title">習慣を設定する</p>
	    <ul>
	  	  <li>・毎日30分ジョギングをする</li>
			  <li>・1日50回腹筋をする</li>
			  <li>・1時間本を読む</li>
		  </ul>
		</div>
	</div>

  <div class="post">
		<p class="post_title">今日の成果を投稿</p>
  	<p>仲間と共有し、モチベーションを高める</p>
  	<%= image_tag "lp_image/post", class: "post_image" %>
  </div>

  <div class="habit_management">
  	<%= image_tag "lp_image/habit_management", class: "habit_management_image" %>
  	<div>
			<p class="habit_management_title">習慣を管理</p>
			<p class="habit_management_content">継続日数やトータル時間等を分かりやすく管理する</p>
		</div>
	</div>

	<p>既にアカウントをお持ちの方</p>
	<div class="signin_link"><%= link_to "ログイン", new_user_session_path %></div>
	<p>初めての方</p>
	<div class="signup_link"><%= link_to "新規登録", new_user_registration_path %></div>
</div>