<div id="main">
  <h2>ユーザー情報編集</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="edit_field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="edit_field">
      <%= f.label :password %> <p class="edit_field_info">(変更しない場合は入力しないで下さい)</p>
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> 文字以上</em>
      <% end %>
    </div>

    <div class="edit_field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="edit_field">
      <%= f.label :current_password %>
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="edit_field">
      <%= f.submit "保存" %>
    </div>
  <% end %>

  <h3>アカウント削除</h3>

  <p><%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "戻る", :back %>
</div>
