<div id="main">
  <h2>新規登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="sign_up_field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input_area" %>
    </div>

    <div class="sign_up_field">
      <%= f.label :name %>
      <%= f.text_field :name, class: "input_area" %>
    </div>

    <div class="sign_up_field">
      <%= f.label :image %>
      <%= f.file_field :image, class: "input_area" %>
    </div>

    <div class="sign_up_field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: "input_area" %>
    </div>

    <div class="sign_up_field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input_area" %>
    </div>

    <div class="terms_of_service_and_pribacy_policy">
      <p><%= link_to "利用規約", terms_of_service_path %>　<%= link_to "プライバシーポリシー", privacy_policy_path %></p>
    </div>

    <div class="sign_up_field">
      <%= f.submit "新規登録", class: "input_area" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
