<% if user_signed_in? %>
  <div class="habits_detail">
    <h2>習慣リスト</h2>
    <% @user.habits.each do |habit| %>
      <div class="habit">
        <ul>
          <li class="habit_name"><%= habit.content %></li>
          <li>継続日数　　　：<%= habit.continuation_days %>日</li>
          <li>トータル日数　：<%= habit.total_days %>日</li>
          <% if habit.report_type == Habit::REPORT_TYPE %>
            <li>トータル実績　：<%= habit.total_report %><%= habit.report_unit %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>
