<div id="main">
  <div class="user_show_name">
    <p class="user_image"><%= image_tag @user.image.url %></p>
    <h2><%= @user.name %></h2>
    <% if @user.id == current_user.id %>
      <%= link_to "プロフィールを編集", edit_user_registration_path, class: "user_edit" %>
    <% end %>
  </div>
  <div class="follow_number">
    <%= link_to "フォロー：#{@user.following.count}", user_following_path(@user) %>
    <%= link_to "フォロワー：#{@user.followers.count}", user_followers_path(@user) %>
  </div>

  <% unless @user.id == current_user.id %>
    <div class="follow_button">
      <% if current_user.following?(@user) %>
        <%= form_with(model: current_user.active_relationships.find_by(followed_id: @user.id), html: {method: :delete}, local: true) do |f| %>
          <%= f.submit "フォロー解除" %>
        <% end %>
      <% else %>
    　  <%= form_with(model: current_user.active_relationships.build, local: true) do |f| %>
          <div><%= hidden_field_tag :followed_id, @user.id %></div>
          <%= f.submit "フォローする" %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%= render partial: "shared/post", locals: {show_delete_button: true}, collection: @posts %>
</div>

<div id="sidebar">
  <%= render partial: "shared/sidebar", locals: {show_edit_delete_button: true} %>
</div>