<div class="post">
  <div class="post_header">
    <p class="user_image"><%= image_tag post.user.image.url %></p>
    <p class="user_name"><%= link_to "#{post.user.name}", user_path(post.user) %></p>
    <p class="time_stamp"><%= l post.created_at %></p>
  </div>
  <div class="post_habit">
    <p><%= image_tag "/images/header_image/habit.png" %></p>
    <p class="habit_name"><%= post.habit.content %></p>
  </div>
  <div class="post_content"><%= simple_format(post.content) %></div>
  <% if post.image? %>
    <p class="post_image"><%= image_tag post.image.url %></p>
  <% end %>
  <% if show_delete_button == true && post.user.id == current_user.id %>
    <p class="post_delete_button"><%= link_to "削除", post_path(post), method: :delete %></p>
  <% end %>
  <p class="comment_button"><%= link_to post_path(post) do %>
    <%= image_tag "/images/comment_icon.png" %>
    <%= post.comments.count %>
  <% end %></p>
  <% if already_liked?(post) %>
    <p class="delete_like_button"><%= link_to "/posts/#{post.id}/likes/destroy", method: :delete do %>
      <%= image_tag "/images/like_icon.png" %>
      <%= post.users.count %>
    <% end %></p>
  <% else %>
    <p class="add_like_button"><%= link_to "/posts/#{post.id}/likes/create", method: :post do %>
      <%= image_tag "/images/like_icon.png" %>
      <%= post.users.count %>
    <% end %></p>
  <% end %>
</div>
