<div id="main">
  <h2>ログイン</h2>

  <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
  <% end %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="log_in_field">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input_area" %>
    </div>

    <div class="log_in_field">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "input_area" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="log_in_field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, "ログイン状態を保持", class: "remember_me" %>
      </div>
    <% end %>

    <div class="log_in_field">
      <%= f.submit "ログイン", class: "input_area" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
