<div id="main">
  <h1>今日の積上を投稿</h1>
  <%= form_with model: [@habit, @post], local: true do |f| %>
    <%= render "shared/error_messages", model: f.object %><br>

    <%= f.label :content, "今日の積上げ：" %>
    <%= f.text_field :content, size: 50 %><br>

    <% if @habit.record_type == false %>
      <%= f.label "時間：" %>
      <%= f.text_field :time %>
    <% end %><br>

    <% if @achievement.nil? || @achievement.check == false %>
      <%= f.label "今日は目標達成" %>
      <%= f.check_box :check, {}, "true", "false" %>
    <% end %>

    <%= f.submit "投稿" %>
  <% end %>
</div>

<div id="sidebar">
  <%= render "layouts/sidebar" %>
</div>