<div id="main">
  <h1>今日の成果を投稿</h1>
  <%= form_with model: [@habit, @post], local: true do |f| %>
    <%= render "shared/error_messages", model: f.object %>
    <div class="post_content_form">
      <%= f.label :content, "今日の成果" %>
      <%= f.text_area :content %>
    </div>
    <div class="post_image_form">
      <%= f.file_field :image %>
    </div>
    <% if @habit.record_type == Habit::REPORT_TYPE %>
      <div class="post_report_form">
        <%= f.label "実績" %>
        <%= f.text_field :report %><span><%= @habit.report_unit %></span>
      </div>
    <% end %>
    <% if @achievement.nil? || @achievement.check == false %>
      <div class="post_check_form">
        <%= f.label "習慣完了チェック" %>
        <%= f.check_box :check, {}, "true", "false" %>
      </div>
    <% end %>
    <%= f.submit "投稿" %>
  <% end %>
</div>

<div id="sidebar">
  <%= render partial: "shared/sidebar", locals: {show_edit_delete_button: false} %>
</div>