<h1><%= title %></h1>
<%= form_with model: @habit, local: true do |f| %>
  <%= render "shared/error_messages", model: f.object %>
  <div class="habit_content_form">
    <%= f.label :content, "習慣名" %>
    <%= f.text_field :content, size: 30 %>
  </div>
  <div class="habit_record_type_form">
    <%= f.label :record_type, "習慣の種類" %>
    <%= f.radio_button :record_type, true %>チェックタイプ　<%= f.radio_button :record_type, false %>記録タイプ
  </div>
  <%= f.submit submit_button_name %>
<% end %>