<h1><%= title %></h1>
<%= form_with model: @habit, local: true do |f| %>
  <%= render "shared/error_messages", model: f.object %>
  <div class="habit_content_form">
    <%= f.label :content, "習慣名" %>
    <%= f.text_field :content, size: 30 %>
  </div>
  <div class="habit_report_type_form">
    <%= f.label :report_type, "習慣の種類" %>
    <%= f.radio_button :report_type, true %>チェックタイプ　<%= f.radio_button :report_type, false %>記録タイプ
  </div>
  <% if title == "習慣登録情報編集" && @habit.report_type == Habit::REPORT_TYPE %>
    <div class="habit_report_unit_form">
      <%= f.label :report_unit, "記録単位" %>
      <%= f.text_field :report_unit, size: 30 %>
    </div>
  <% end %>
  <%= f.submit submit_button_name, class: "submit_button" %>
<% end %>