<div id="main">
  <h1>新しい習慣を登録</h1>
  <%= form_with model: @habit, local: true do |f| %>
    <%= render "layouts/error_messages", model: f.object %><br>

    <%= f.label :content, "新しい習慣：" %>
    <%= f.text_field :content, size: 30 %><br>

    <%= f.label :record_type, "種類：" %>
    <%= f.select :record_type, [["チェック型", true], ["記録型", false]], prompt: "習慣の種類を選択して下さい" %><br>

    <%= f.label :open_range, "公開範囲：" %>
    <%= f.select :open_range, [["自分のみ", 0], ["友達のみ", 1], ["すべての人", 2]], prompt: "公開範囲を選択して下さい" %><br>

    <%= f.submit "登録" %>
  <% end %>
</div>

<div id="sidebar">

</div>