<% if user_signed_in? %>
  <h2>習慣リスト</h2>
  <div class="habits">
    <% @habits.each do |habit| %>
      <div class="habits_detail">
        <ul>
          <li>習慣：<%= habit.content %></li>
          <li>継続日数：<%= habit.continuation_days %></li>
          <li>トータル日数：<%= habit.total_days %></li>
          <% if habit.record_type == false %>
            <li>トータル時間：<%= habit.total_time %></li>
          <% end %>
          <li><%= link_to "今日の成果を投稿", new_habit_post_path(habit) %></li>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>