<!DOCTYPE html>
<html>
  <head>
    <title>NewHabits</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class= "<%= controller.action_name %> <%= controller.controller_name %>" >
    <header>
      <div class="header">
        <% if user_signed_in? %>
          <%= image_tag "/images/header_image/new_habits.png", class: "title_image" %>
          <nav>
            <ul class="header_link">
              <li>
                <%= link_to root_path do %>
                  <%= image_tag "/images/header_image/home.png" %>
                  ホーム
                <% end %>
              </li>
              <li>
                <%= link_to  "/users/#{current_user.id}" do %>
                  <%= image_tag "/images/header_image/profile.png" %>
                  プロフィール
                <% end %>
              </li>
              <li>
                <%= link_to new_habit_path do %>
                  <%= image_tag "/images/header_image/habit.png" %>
                  習慣登録
                <% end %>
              </li>
              <li>
                <%= link_to search_habits_path do %>
                  <%= image_tag "/images/header_image/search.png" %>
                  習慣検索
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <%= image_tag "/images/header_image/logout.png" %>
                  ログアウト
                <% end %>
              </li>
              <li>
                <%= link_to help_path do %>
                  <%= image_tag "/images/header_image/help.png" %>
                  ヘルプ
                <% end %>
              </li>
              <% if admin? %>
                <li>
                  <%= link_to admin_users_path do %>
                    <%= image_tag "/images/header_image/admin.png" %>
                    管理画面
                  <% end %>
                </li>
              <% end %>
            </ul>
          </nav>
          <div class="terms_of_service_and_pribacy_policy">
            <p><%= link_to "利用規約", terms_of_service_path %>　<%= link_to "プライバシーポリシー", privacy_policy_path %></p>
          </div>
          <div class="copy_right">
            <p>© 2020 New Habits management office</p>
          </div>
        <% end %>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
