<!DOCTYPE html>
<html>
  <head>
    <title>NewHabits</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class= "<%= controller.action_name %> <%= controller.controller_name %>" >
    <header>
      <div class="header">
        <% if user_signed_in? %>
          <h1>NEW HABITS!</h1>
          <nav>
            <ul class="header_link">
              <li>
                <%= link_to "/" do %>
                  <%= image_tag "/images/header_image/home.png" %>
                  ホーム
                <% end %>
              </li>
              <li>
                <%= link_to  "/users/#{current_user.id}" do %>
                  <%= image_tag "/images/header_image/profile.png" %>
                  プロフィール
                <% end %>
              </li>
              <li>
                <%= link_to new_habit_path do %>
                  <%= image_tag "/images/header_image/habit.png" %>
                  習慣登録
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <%= image_tag "/images/header_image/logout.png" %>
                  ログアウト
                <% end %>
              </li>
              <li>
                <%= link_to help_path do %>
                  <%= image_tag "/images/header_image/help.png" %>
                  ヘルプ
                <% end %>
              </li>
            </ul>
          </nav>
        <% end %>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
