<!DOCTYPE html>
<html>
  <head>
    <title>NewHabits</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header">
        <h1>NEW HABITS!</h1>
        <nav>
          <ul class="header_link">
            <li><%= link_to "ホーム", "/" %></li>
            <% if user_signed_in? %>
              <li><%= link_to "プロフィール", "/users/#{current_user.id}" %></li>
              <li><%= link_to "習慣登録", new_habit_path %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <% end %>
            <li><%= link_to "ヘルプ", help_path %></li>
          </ul>
        </nav>
      </div>
    </header>

    
    <%= yield %>
  </body>
</html>
