<!DOCTYPE html>
<html>
  <head>
    <title>NewHabits</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header">
        <h1>NEW HABITS!</h1>
        <nav>
          <ul class="header_link">
            <li>
              <%= link_to "/" do %>
                <%= image_tag "header_image/home" %>
                ホーム
              <% end %>
            </li>
            <% if user_signed_in? %>
              <li>
                <%= link_to  "/users/#{current_user.id}" do %>
                  <%= image_tag "header_image/profile" %>
                  プロフィール
                <% end %>
              </li>
              <li>
                <%= link_to new_habit_path do %>
                  <%= image_tag "header_image/habit" %>
                  習慣登録
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <%= image_tag "header_image/logout" %>
                  ログアウト
                <% end %>
              </li>
            <% end %>
            <li>
              <%= link_to help_path do %>
                <%= image_tag "header_image/help" %>
                ヘルプ
              <% end %>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    
    <%= yield %>
  </body>
</html>
