<!DOCTYPE html>
<html>
  <head>
    <title>NewHabits</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <li><%= link_to "ホーム", "/" %></li>
        <li><%= link_to "ヘルプ", help_path %></li>
      </ul>
      <hr>
    </header>
    <%= yield %>
  </body>
</html>
